.post {
  height: auto;
  background-color: #1c73e6;
  margin: 2rem 0.1rem;
}
.post__image {
  width: 280px;
  height: 280px;
}
.post__text {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8rem 0;
  color: #fff;
}
